Reference:

https://www.dataquest.io/blog/k-nearest-neighbors-in-python/

# Load Dataset

Before we dive into the algorithm, let’s take a look at our data. Each row in the data contains information on how a player performed in the 2013-2014 NBA season.

Here are some selected columns from the data:



*   player — name of the player
*   pos — the position of the player
*   g — number of games the player was in
*   gs — number of games the player started
*   pts — total points the player scored

In [0]:
import pandas
with open("./sample_data/nba_2013.csv", 'r') as csvfile:
    nba = pandas.read_csv(csvfile)
print(nba.columns.values)

['player' 'pos' 'age' 'bref_team_id' 'g' 'gs' 'mp' 'fg' 'fga' 'fg.' 'x3p'
 'x3pa' 'x3p.' 'x2p' 'x2pa' 'x2p.' 'efg.' 'ft' 'fta' 'ft.' 'orb' 'drb'
 'trb' 'ast' 'stl' 'blk' 'tov' 'pf' 'pts' 'season' 'season_end']

# Euclidean distance

Before we can predict using KNN, we need to find some way to figure out which data rows are “closest” to the row we’re trying to predict on.

A simple way to do this is to use Euclidean distance. The formula is 

![alt text](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.machinelearningplus.com%2Fwp-content%2Fuploads%2F2019%2F04%2F2_multivariate_euclidean_distance_formula-min.png&f=1&nofb=1https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.machinelearningplus.com%2Fwp-content%2Fuploads%2F2019%2F04%2F2_multivariate_euclidean_distance_formula-min.png&f=1&nofb=1)

In [0]:
import math

nba = nba.dropna()

# Select Lebron James from our dataset
selected_player = nba[nba["player"] == "LeBron James"].iloc[0]

# Choose only the numeric columns (we'll use these to compute euclidean distance)
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

def euclidean_distance(row):
    """
    A simple euclidean distance function
    """
    inner_value = 0
    for k in distance_columns:
      inner_value += (row[k] - selected_player[k]) ** 2
      return math.sqrt(inner_value)

# Find the distance from each player in the dataset to lebron.
lebron_distance = nba.apply(euclidean_distance, axis=1)

In [0]:
lebron_distance

0      6.0
3      1.0
4      4.0
6      1.0
7      5.0
      ...
476    9.0
477    1.0
478    4.0
479    8.0
480    5.0
Length: 403, dtype: float64

# Normalizing columns

A simple way to deal with this is to normalize all the columns to have a mean of 0, and a standard deviation of 1. This will ensure that no single column has a dominant impact on the euclidean distance calculations.

In [0]:
# Select only the numeric columns from the NBA dataset
nba_numeric = nba[distance_columns]
# Normalize all of the numeric columns
nba_normalized = (nba_numeric - nba_numeric.mean()) / nba_numeric.std()

In [0]:
nba_normalized

          age         g        gs  ...       tov        pf       pts
0   -0.814777  0.235407 -0.944580  ... -0.803874  0.102809 -0.874569
3    0.352916  0.676249  1.455748  ...  1.028200  0.306263  1.568399
4   -0.347700 -0.073182  0.041856  ... -0.282680  1.047417 -0.543641
6    0.352916  0.499912  1.324224  ...  0.664944  0.466120  2.143835
7   -0.581239  0.323576 -0.878818  ... -0.582761  0.160939 -0.596336
..        ...       ...       ...  ...       ...       ...       ...
476 -1.515393  0.632165 -0.418481  ...  1.944236  0.524249  0.744240
477  0.352916  0.279491 -0.648649  ...  0.222719  0.596911  1.176344
478 -0.347700  0.940754  1.620154  ...  1.328280  1.425260  1.751780
479 -1.281855  1.073007 -0.845937  ...  0.096369  0.800365 -0.202173
480 -0.581239  0.543997 -0.648649  ... -0.330062  0.320795 -0.393985

[403 rows x 26 columns]

# Finding the nearest neighbor

We now know enough to find the nearest neighbor of a given row in the NBA dataset. We can use the distance.euclidean function from scipy.spatial, a much faster way to calculate euclidean distance.

In [0]:
from scipy.spatial import distance

# Fill in NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for lebron james.
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]

# Find the distance between lebron james and everyone else.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, lebron_normalized), axis=1)

# Create a new dataframe with distances.
distance_frame = pandas.DataFrame(data={"dist": euclidean_distances, "idx": euclidean_distances.index})
distance_frame.sort_values("dist", inplace=True)
# Find the most similar player to lebron (the lowest distance to lebron is lebron, the second smallest is the most similar non-lebron player)
second_smallest = distance_frame.iloc[1]["idx"]
most_similar_to_lebron = nba.loc[int(second_smallest)]["player"]

# Generating training and testing sets

Now that we know how to find the nearest neighbors, we can make predictions on a test set. We’ll try to predict how many points a player scored using the 5 closest neighbors. We’ll find neighbors by using all the numeric columns in the dataset to generate similarity scores.

First, we have to generate test and train sets. In order to do this, we’ll use random sampling. We’ll randomly shuffle the index of the nba dataframe, and then pick rows using the randomly shuffled values.

If we didn’t do this, we’d end up predicting and training on the same data set, which would overfit. We could do cross validation also, which would be slightly better, but slightly more complex.

In [0]:
import random
from numpy.random import permutation

# Randomly shuffle the index of nba.
random_indices = permutation(nba.index)

# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)

# Generate the test set by taking the first 1/3 of the randomly shuffled indices.
test = nba.loc[random_indices[1:test_cutoff]]

# Generate the train set with the rest of the data.
train = nba.loc[random_indices[test_cutoff:]]

# Using sklearn for k nearest neighbors

There’s a regressor and a classifier available, but we’ll be using the regressor, as we have continuous values to predict on.

Sklearn performs the normalization and distance finding automatically

In [0]:
# The columns that we will be making predictions with.
x_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
# The column that we want to predict.
y_column = ["pts"]

from sklearn.neighbors import KNeighborsRegressor
# Create the knn model.
# Look at the five closest neighbors.
knn = KNeighborsRegressor(n_neighbors=5)
# Fit the model on the training data.
knn.fit(train[x_columns], train[y_column])
# Make point predictions on the test set using the fit model.
predictions = knn.predict(test[x_columns])

In [0]:
predictions

array([[ 400.6],
       [ 114. ],
       [  30. ],
       [ 831.4],
       [ 780. ],
       [ 941.2],
       [ 114. ],
       [1943.8],
       [2027.6],
       [1269.6],
       [  33.4],
       [ 467. ],
       [  18. ],
       [ 143.6],
       [ 375.8],
       [1309.6],
       [ 923.2],
       [  86. ],
       [ 423.8],
       [ 317.2],
       [ 467.2],
       [  93.2],
       [ 705.8],
       [ 603.4],
       [  25.4],
       [ 808.2],
       [ 173.2],
       [ 591.2],
       [ 605.6],
       [  10.8],
       [ 554. ],
       [1294. ],
       [1067.6],
       [ 747.8],
       [ 689.2],
       [ 890.2],
       [ 712.4],
       [ 989.2],
       [1574. ],
       [1422. ],
       [ 774.2],
       [   8.8],
       [ 198.2],
       [ 770. ],
       [  71.6],
       [ 931. ],
       [ 188.8],
       [1178.2],
       [ 276.8],
       [ 640.8],
       [ 584.4],
       [ 893. ],
       [ 139.4],
       [ 167. ],
       [  85.2],
       [  72. ],
       [ 786.6],
       [1116.2],
       [ 393. ],
       [ 417. ],
       [  24.8],
       [ 196.4],
       [ 886. ],
       [ 121. ],
       [ 305.8],
       [ 467.2],
       [ 293.2],
       [ 342.4],
       [ 145.4],
       [ 375. ],
       [ 189.8],
       [ 767.4],
       [ 570.4],
       [ 937. ],
       [ 314. ],
       [ 505. ],
       [1021.4],
       [ 350.2],
       [ 789.6],
       [ 851.4],
       [1090.4],
       [  42.4],
       [ 178.8],
       [  19.2],
       [1694.8],
       [ 584.6],
       [  34.8],
       [ 994.4],
       [ 488. ],
       [ 758. ],
       [1105.2],
       [  80.4],
       [1053.6],
       [   8.8],
       [ 455.8],
       [ 351.8],
       [ 320.6],
       [ 222.2],
       [  30.6],
       [   8.8],
       [  98.2],
       [1096.2],
       [1046.6],
       [   8.8],
       [ 714.4],
       [ 358.2],
       [ 624.6],
       [ 438.4],
       [ 502.8],
       [  83.2],
       [ 210.2],
       [ 257.6],
       [ 335.4],
       [  78.8],
       [ 646.6],
       [  71.2],
       [1449.4],
       [1099.4],
       [ 251. ],
       [1228.6],
       [1128.8],
       [1056.8],
       [ 362. ],
       [ 132.8],
       [  89.6],
       [ 809.8],
       [  58.6],
       [1293.6],
       [   8.8],
       [ 408. ],
       [  38.6],
       [1154.4],
       [ 354. ]])

In [0]:
# Get the actual values for the test set.
actual = test[y_column]

# Compute the mean squared error of our predictions.
mse = (((predictions - actual) ** 2).sum()) / len(predictions)

In [0]:
mse

pts    4501.658346
dtype: float64